*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #d7ebfd;
}

/* Nav */
nav{
  width: 100%;
  height: 100px;
  background-color: rgba(71, 71, 186, 0.804);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo{
  width: 120px;
  height: 120px;
  
}
.input{
  display: flex;
}
input{
  width: 450px;
  height: 40px;
}
i{
  background-color: rgb(222, 204, 70);
  color:white;
  padding: 9px;
  margin-left: -30px;
}
.cart{
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
  width: 30px;
  height: 30px;
}
.cart img{
  padding-left: 10px;
}

/* Home */
.home{
  display: grid;
  grid-template-columns: 20% 75%;
  margin: 30px 0;
 justify-content: space-evenly;
}
.categories{
  background-color:#ffffffa8 ;
  border: 1px solid #d2c8c87b;
  padding: 15px;
}
.categories h2{
  background-color: rgba(71, 71, 186, 0.804) ;
  color: #fff;
  text-align: center;
  padding-bottom: 05px;
  margin-bottom: 10px;
}
.categories ul li{
  list-style-type: none;
  padding: 8px 0;
  padding-left: 20px;
}
.categories ul li a{
  text-decoration: none;
  color: #000;
}

.laptop-image{
   background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.438)), url(./Images/back2.jpg);
color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
align-items: center;
}
.laptop-image h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size:28px;
}


/* Mobiles */
#mob-heading{

  margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px ;
  
}
.Mobiles{
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  justify-content:space-around;
}
.Mobiles div{
 display: grid;
 justify-content: center;
 align-items: center;
  border-radius: 5px;
  background-color: #ffffffa8;
  border: 1px solid #d2c8c87b;
  text-align: center;
  margin: 10px 0;
}
.Mobiles div img{
height: 150px;
width: 150px;
border-radius: 5px;
margin:10px;
background-color: transparent;
}
.Mobiles span p{
  padding: 3px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.Mobiles span p:first-child{
  font-weight: bold;
}
.Mobiles div:hover{
  cursor: pointer;
}

/* Laptops */
#laptop-heading{
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 10px 20px ;
}
.laptops{
  display: grid;
  grid-template-columns: 22% 22% 22% 22% ;
  justify-content:space-around;
}
.laptops div{
  align-items: center;
  background-color: #ffffffa8;
  border: 1px solid #d2c8c87b;
  text-align: center;
}
.laptops div img{
  height: 160px;
  width: 180px;
  border-radius: 5px;
  margin:15px;
  margin-bottom: 5px;
background-color: transparent;
  }


.laptops .notify{
background-color: rgba(71, 71, 186, 0.804);
color: #fff;
width:90px;
height: 40px;
padding: 0;
margin-top: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.laptops .notify p{
  padding-top:10px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.laptops h4{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 15px;
}

/*  */
  

/* Small screens */
@media(max-width:900px){
  nav{
    height: 80px;
  }
  #logo{
    width: 100px;
    height: 100px;
    }
 
  input{
    width: 250px;
    height: 30px;
  }
  i{
margin-left: -20px;
    padding: 7px;
  }
  .cart{
  
    padding-right: 30px;
    padding-left: 30px;
    width: 20px;
    height: 20px;
  }
  .cart img{
    padding-left: 07px;
  }

  /* Home */
  .home{
  grid-template-columns: 20% 75%;
  margin: 20px 0;
}
  .categories{
    padding: 10px;
  }
  .categories h2{
  font-size: 18px;
    padding-bottom: 05px;
    margin-bottom: 05px;
  }
  .categories ul li{
    list-style-type: none;
    padding: 6px 0;
    
  }
  .laptop-image h2{
    font-size:18px;
  }
  .laptop-image img{
    width: 60%;
  }

  /* Mobiles */
  #mob-heading{
    margin-top: 80px;
    margin-bottom: 10px;
    padding: 10px 20px ;
    
  }
  .Mobiles{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content:space-around;
  }
  .Mobiles div{
    margin: 10px 0;
    height: 100%;
    width:100;
    border: 10px solid #d7ebfd;

  }
  .Mobiles div img{
  height: 90%;
  width: 90%;
  
  }
  /* Laptops */
  .laptops{
    display: grid;
    grid-template-columns: 40% 40% ;
    justify-content:space-around;
  }
  .laptops div{
    margin-bottom: 10px;
  }
  .laptops div img{
    height: 170px;
    width: 190px;
    border-radius: 5px;
    margin:15px;
    margin-bottom: 5px;
  background-color: transparent;
    }

  
}

/* Mobile  Screen*/
@media(max-width:400px){
  nav{
    height: 60px;
  }
  #logo{
    width: 60px;
    height: 50px;
    
  }
  input{
    width: 170px;
    height: 21px;
  }
  i{
    background-color: transparent;
   color: #000;
     padding: 0px;
    margin-left: -20px;
  }
  .cart{

    padding-right: 25px;
    padding-left: 25px;
    width:15px;
    height:15px;
  }
  .cart img{
    padding-left: 05px;
  }

  /* Home */
  .home{
    grid-template-columns: 20% 75%;
    margin: 20px 0;
  }
  .categories{
      padding: 05px;
      height: 70px;
    }
    .categories h2{
    font-size: 7px;
    padding: 1px;
      padding-bottom: 0px;
      margin-bottom: 02px;
    }
    .categories ul li{
      list-style-type: none;
      padding: 02px 0;
      font-size: 1vh;
    }
    .laptop-image{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./Images/back2.jpg);
      background-size: cover;
      
    }
    .laptop-image h2{
      font-size:10px;
    }
    .laptop-image img{
      width: 40%;
    }

    /* Mobiles */
    #mob-heading{
      margin-top: 30px;
      margin-bottom: 0px;
      padding: 0px 20px ;
      font-size: 2.5vh;
    }
    .Mobiles{
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content:space-around;
    }

    /* Laptops */
    #laptop-heading{
      margin-top: 30px;
      margin-bottom: 0px;
      padding: 20px 20px ;
      font-size: 2.5vh;
      }
    .laptops{
      display: grid;
      grid-template-columns: 80% ;
      justify-content:space-around;
    }
    .laptops div{
      margin-bottom: 10px;
    }
     
    .laptops .notify{
      width:80px;
      height: 20px;
  

      }
      .laptops .notify p{
        padding-top:3px;
        font-size: 2vh;
      }
      .laptops h4{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;
      }

  
}

